<p id="notice"><%= notice %></p>

<h1>Idea Box</h1>





<section id="new-idea">
  <h2>Add a New Idea</h2>
  <form class="new-idea-form">
    <label>Title</label>
    <input type="text" placeholder="Title" class="new-idea-title">
    <label>Body</label>
    <input type="text" placeholder="Body" class="new-idea-body">
    <input type="submit" value="Submit Your Great Idea">
  </form>
</section>





<!-- <div class="form-group">
  <input class="form-control" type="text" id="idea-title">
  <input class="form-control" type="text" id="idea-body">
  <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="add idea">
</div> -->

<%#= link_to 'New Idea', new_idea_path %>

<br>

<h2>all ideas...</h2>


<div id="ideas">
</div>
